div{
    width: 200px;
    height: 200px;
    margin: 1em;
    /* background-image: url(images/img1.jpg); */
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.75);
    display: inline-flex;
    
}



/* div:hover{
    opacity: 0.5;

} */